@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1> Edit </h1>

<h2> Edit Machine: @Html.DisplayFor(model => model.Type)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Type)
  @Html.EditorFor(model => model.Type)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("All machines", "Index")</p>