@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="box" id="engineers">
  <div class="title">
    <img src="~/img/Documents Folder.ico" width="25" height="25" class="title" />
    <p class="title">Assign Machine Certification</p>
    <button>X</button>
    <button>?</button>
  </div>
  <div class="content">
    <h4> Engineer: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.EngineerId)

      @Html.Label("Assign Machine")
      @Html.DropDownList("MachineId")

      <input type="submit" value="Save" />
    }

    <button>@Html.ActionLink("All engineers", "Index")</button>
  </div>
</div>