@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="box" id="engineers">
  <div class="title">
    <img src="~/img/Documents Folder.ico" width="25" height="25" class="title" />
    <p class="title">Edit </p>
    <button>@Html.ActionLink("X","Index", "Home")</button>
    <button>?</button>
  </div>
  <div class="content">
    <h2> Edit Engineer: @Html.DisplayFor(model => model.Name)</h2>

    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.EngineerId)
      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)

      @Html.Label("Select machine")
      @Html.DropDownList("MachineId")

      <input type="submit" value="Save" />
    }

    <button>@Html.ActionLink("All Engineers", "Index")</button>
  </div>
</div>